@import "../../../../styles/abstracts";

.section {
    height: calc(100vh - 8vw);

    .sectionContainer {
        height: 100%;
        display: flex;
        justify-content: center;
        width: 85%;
        margin: 0 auto;

        .questionContainer {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 8%;
            width: 100%;
            padding-bottom: 8vw;

            .questionImg {
                width: 100%;
                height: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .question {}


            .fieldsContainer {
                position: relative;
                width: 75%;
                min-height: 12%;
                padding: 1.3%;
                display: flex;
                justify-content: flex-end;


                .questionInput {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    inset-inline-start: 0;
                    width: 100%;
                    height: 100%;



                    input {
                        width: 100%;
                        height: 100%;
                        background: transparent;
                        outline: none;
                        padding: 2%;
                        border: 1px solid #606060;
                        color: var(--white);
                        font-size: var(--body1-size);
                        border-radius: 1vw;

                        &::placeholder {
                            font-size: var(--body1-size);
                            color: #606060;
                        }
                    }
                }

                .questionSubmit {
                    position: relative;
                    z-index: 3;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1vw;
                    height: 100%;
                    cursor: pointer;
                    background-color: var(--blue);
                    border-radius: 0.5vw;

                    svg {
                        width: 2vw;
                    }
                }
            }
        }
    }
}

.successPopup,
.failsPopup,
.congrats {
    position: fixed;
    z-index: 10;
    top: 0;
    inset-inline-start: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .popupContainer,
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2vw;

        .tryAgainBtn {
            background-color: var(--blue);
            border-radius: 18px;
            padding: 1.5vw 4vw 1.5vw 4vw;
            margin-top: 2vw;
            pointer-events: none;
        }
    }

}

.congrats {
    background-color: var(--black);

    img {
        position: absolute;
        inset-inline-start: 0;
        top: 5vw;
    }

    .pattern2 {
        inset-inline-start: unset;
        inset-inline-end: 0;
        top: -1vw;
    }

    .pattern3 {
        inset-inline-start: unset;
        top: unset;
        inset-inline-end: 25%;
        bottom: 0;
    }

}