@font-face {
    font-family: "samsung";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/samsung-font/sanss___.ttf");
}

@font-face {
    font-family: "digital";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/digital-font/digital-7.ttf");
}

@font-face {
    font-family: "digital-italic";
    font-style: italic;
    font-weight: 400;
    src: url("../assets/fonts/digital-font/digital-7 (italic).ttf");
}