@import "../../../../styles/abstracts";

.section {
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 100;

    .sectionIntroContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        inset-inline-start: 0;
        z-index: 4;

        .introInfo {
            flex-grow: 1;

            .title {
                padding-bottom: 4vw;
            }
        }

        .background {
            min-height: 70vh;

            img {
                width: 100%;
                height: 120%;
                object-fit: cover;
            }
        }

    }


    .userInfoWtimer {
        position: absolute;
        top: 0;
        inset-inline-start: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10vw;

        //to be animated
        opacity: 0;
        transform: scale(0);

        .userInfoContainer {
            padding: 4vw 8vw;
            border-radius: 2vw;
            border: 0.15vw solid #6A6A6A;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4vw;

            .color {
                width: 12vw;
                height: 12vw;
                border-radius: 1vw;
            }

            .info {
                text-align: start;

                .title {
                    padding-bottom: 2vw;
                }
            }
        }

        .sectionTimerContainer {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;


            .numberContainer {
                display: flex;
                justify-content: center;
                gap: 1vw;
                padding-bottom: 4vw;

                .number {
                    line-height: 0.7;
                    font-style: italic;
                }
            }

            .circle {
                width: 50vw;
                height: 50vw;
                border-radius: 50%;
                margin-bottom: 6vw;
                animation: heart .3s infinite alternate;
            }
        }
    }


}

@keyframes heart {
    to {
        transform: scale(1.1);
    }
}