@import "../../../../styles/abstracts";

.section {
    // position: fixed;
    // top: 0;
    // inset-inline-start: 0;
    width: 100%;
    height: 8vw;
    z-index: 120;

    .sectionConainer {
        width: 100%;
        height: 100%;
        padding-top: 3vw;
        padding-bottom: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            height: 100%;

            svg {
                width: auto;
                height: 100%;
            }
        }
    }
}