@import "../../../../styles/abstracts";

.section {
    position: fixed;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    z-index: 120;

    .sectionConainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 8vh;
        padding-bottom: 8vh;

        .logo {
            svg {
                width: 25vh;
                height: auto;
            }
        }
    }
}