@import "../../../../styles/abstracts";

.counter {
    position: fixed;
    top: 4vh;
    inset-inline-start: 4vh;
    width: fit-content;

    .counterContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 20vh;
        padding: 2vh;
        border-radius: 2vh;

        .counterNumber {}
    }
}