@import "../../../../styles/abstracts";

.counter {
    position: fixed;
    top: 4vw;
    inset-inline-start: 4vw;
    width: fit-content;

    .counterContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 20vw;
        padding: 2vw;
        border-radius: 2vw;

        .counterNumber {}
    }
}